<!DOCTYPE html>
<html>
<head>
  <title>Dhwi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1><center>Elizabeth's DHWI Applications</center></h1>
		<nav>
		  <ul>
		    <li><%= link_to 'Home', root_path %></li>
		    <li><%= link_to 'Create a Topic', new_topic_path %></li>
		    <li><%= link_to 'About', pages_about_path %></li>
		  </ul>
		</nav>
	</header>
<% flash.each do |name, msg| %>
<div><%= msg %></div>
<% end %>
<%= yield %>
<footer>

<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" /></a><br />Image is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License</a>.
</body>
</html>
